.Cuadrado {
    width: 150px; height: 150px;
    background-color: rgb(119, 118, 117);
    position: relative;
}
.Circulo {
    width: 150px; height: 150px;
    background: rgb(61, 61, 61);
    border-radius: 50%;
    position: static;
}
.Rombo {
    width: 150px; height: 150px;
    rotate: 45deg;
    background-color: rgb(0, 0, 0);
    position: sticky;
}
details {
    position: relative;
    top: 50px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background: linear-gradient(rgb(122, 121, 118) 0%, rgb(235, 232, 225) 100%);
    background-repeat: no-repeat;
    height: 100vh;
}
.Titulo {
    width: 1905px; height: 100px;
    background-color: rgb(253, 253, 253);
    text-align: center;
    position: relative;
    right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Figuras {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 40px;
    left: 400px;
    top: 250px;
}
.Lista {
    width: 1905px; height: 100px;
    background-color: rgb(253, 253, 253);
    text-align: center;
    position: relative;
    right: 10px;
}
nav {
    color: white;
    font-style:italic;
    text-align: center;
}
.Panel {
    width: 150px; height: 58px;
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 860px;
}